.cardDiv {
  margin: 5px;
  display: flex;
  align-items: center;
  max-width: fit-content;
  flex-direction: column;
  height: 100%;
  padding: 10px;
}

.imgImageDiv {
  border: solid;
  position: center;
  height: auto;
  width: 100%;
  size: contain;
  border-radius: 10%;
}
.holahola {
  position: relative;
}
.holahola > .imgImageDiv {
  opacity: 0.5;
}
.holahola > .imgPersonRound {
  z-index: 1;
}
.initialIconsBox {
  position: absolute;
  display: flex;
  opacity: 100%;
  top: 5%;
  opacity: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.cameraLikesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.likes,
.camera {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  object-fit: cover;
  padding: 30%;
  font-size: medium;
  border: 1px solid white;
  height: auto;
  border-radius: 50%;
  max-width: 10%;
}
.likesNumber,
.cameraNumber {
  font-size: small;
}
/* ! falta la palabra visitar */
/* ! el corazon y la camara han de ser redondos */

.camera {
  background-image: url(/assets/camera.png);
}

.likes {
  background-image: url(/assets/heart.png);
}

.upImg {
  background-image: url(/assets/upImage.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
  display: flex;
}

.name {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: large;
}
.date {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}
.upImg:hover {
  transform: translate(-0.5em, -0.1em) scale(1.05);
  transition: 0.3s;
}

.visitsBox {
  display: flex;
  justify-content: flex-start;
  padding: 0%;
  align-items: center;
  margin: 25%;
  font-size: small;
  flex-direction: column;
  justify-content: center;
}

.imgPersonRound {
  cursor: pointer;
  grid-area: person;
  aspect-ratio: 1;
  object-fit: cover;
  border: solid;
  border-radius: 50%;
  max-width: 20%;
  border-width: 5px;
  margin-top: -10%;
}
.imgPersonRound:hover {
  transform: scale(2.5);
  transition: 0.5s;
}
